h1, h2, h3 {
  font-family: 'Libre Baskerville', serif;
}
p {

  font: 400 18px/1 "adobe-caslon-pro","Adobe Caslon Pro",serif;
}

.full-image_container h3.artist {
  text-align: right;
  color: #696969;
  font-size: 16px;
  font-style: italic;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.full-image_container {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.full-image_container p,
.full-image_container h3 {
  text-align: left;
}

.full-image_container p {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 25px;
}

.full-image_container img {
  max-width: 100%;
  margin-top: 30px;

}

.thumbnail {
  max-width: 300px;
  max-width: 100%;
  display: block;
}

.thumb-images_container {
  height: 200px;
}
